:root {
    --black: rgb(14, 16, 19);
    --white: rgb(240, 245, 255);
    --bg0: rgb(31, 35, 41);
    --bg1: rgb(40, 44, 52);
    --bg2: rgb(48, 54, 63);
    --bg3: rgb(50, 54, 65);
    --bg_d: rgb(24, 27, 32);
    --bg_blue: rgb(97, 175, 239);
    --bg_yellow: rgb(232, 200, 140);
    --fg: rgb(160, 168, 183);
    --purple: rgb(191, 104, 217);
    --green: rgb(142, 189, 107);
    --orange: rgb(204, 144, 87);
    --blue: rgb(79, 166, 237);
    --yellow: rgb(226, 184, 107);
    --cyan: rgb(72, 176, 189);
    --red: rgb(229, 85, 97);
    --grey: rgb(83, 89, 101);
    --light_grey: rgb(122, 129, 142);
    --dark_cyan: rgb(38, 98, 105);
    --dark_red: rgb(139, 52, 52);
    --dark_yellow: rgb(131, 93, 26);
    --dark_purple: rgb(126, 57, 146);

    --accent: var(--cyan);
    --accent-dark: var(--dark_cyan);
    --radius: 0.3rem;
    --box-shadow: 0 2px 6px rgba(var(--black), 25%), 0 8px 24px rgba(var(--black), 33%),
        0 16px 32px rgba(var(--black), 33%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-wrap: break-word;
    overflow-wrap: break-word;
    transition: 0.1s ease;
}

body {
    font-family: 'IBM Plex Sans', 'Roboto', sans-serif;
    background: var(--bg0);
    background-image:
    radial-gradient(circle at 20% 80%, var(--accent-dark), transparent 30%),
    radial-gradient(circle at 90% 20%, var(--accent-dark), transparent 30%),
    radial-gradient(circle at 50% 50%, var(--bg_d), var(--bg_d) 100%);
    color: var(--fg);
    font-size: 16px;
    line-height: 1.7;
    min-height: 100dvh;
}

main,
nav,
.container {
    width: 960px;
    max-width: 100%;
    margin: auto;
    padding: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1.5rem 0;
    color: var(--white);
    font-weight: bold;
    line-height: 1.2;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.5rem;
    font-style: italic;
}
h4 {
    font-size: 1.0rem;
}
h5 {
    font-size: 1.0rem;
    font-style: italic;
}
strong,
b {
    font-weight: 700;
}
a {
    color: var(--accent);
}
a:hover {
    color: var(--accent);
}
textarea {
    width: 100%;
    font-size: 16px;
}
input {
    font-size: 16px;
}
table {
    width: 100%;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: var(--radius);
}
code {
    padding: 2px 5px;
    background-color: rgb(var(--gray-light));
    border-radius: 2px;
}
pre {
    padding: 1.5em;
    border-radius: 8px;
}
pre > code {
    all: unset;
}
blockquote {
    border-left: 4px solid var(--accent);
    padding: 0 0 0 20px;
    margin: 0px;
    font-size: 1.333em;
}
hr {
    border: none;
    border-top: 1px solid var(--grey);
    margin: 2rem 0;
}
.footer p,
.footer ol,
.footer ul,
.prose p,
.prose ol,
.prose ul {
    margin-bottom: 1em;
}
.prose ol,
.prose ul {
    padding-left: 3rem;
}
.prose ol > li::marker {
    font-weight: bold;
}

.bg-glass {
    background: rgba(40, 44, 52, 50%);
    border: solid 1px rgba(83, 89, 101, 50%);
    backdrop-filter: blur(80px);
}
.glass-hover:hover {
    border-color: rgba(240, 245, 255, 30%);
}
.btn {
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    border-radius: var(--radius);
    border-width: 1px;
    border-style: solid;
    margin: 1rem 0;

    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}
.btn-primary {
    font-weight: bold;
    background: var(--blue);
    background-image: linear-gradient(140deg, var(--cyan) , var(--blue));
    color: var(--black);
    border-color: var(--cyan);

    &:hover {
        border-color: rgba(240, 245, 255, 80%);
        color: var(--black);
    }
}

@media (max-width: 720px) {
    body {
        font-size: 18px;
    }
}

.sr-only {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
    clip: rect(1px 1px 1px 1px);
    /* maybe deprecated but we need to support legacy browsers */
    clip: rect(1px, 1px, 1px, 1px);
    /* modern browsers, clip-path works inwards from each corner */
    clip-path: inset(50%);
    /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
    white-space: nowrap;
}
