---
import Layout from '../layouts/BlogPost.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<Layout
title=`Acerca de ${SITE_TITLE}`
description={SITE_DESCRIPTION}
author=""
pubDate={new Date('2024/09/04')}
heroImage=""
>
<p>
<b>{SITE_TITLE}</b> es un blog orientado a la seguridad informática, más específicamente al tema de los <b>Pilares de la Seguridad Informática</b>, hecho para cumplir con una evaluación de la unidad curricular <b>Electiva IV</b>, orientada a la seguridad informática, en la Universidad Nacional Experimental de la Gran Caracas.
</p>
<p>
El equipo de trabajo involucrado en la creación y publicación de contenido del blog está conformado por los siguientes integrantes:
</p>
<ul>
    <li>Anthony Carvajal</li>
    <li>José García</li>
    <li>Leonela Ramírez</li>
    <li>Newman Sánchez</li>
    <li>Cindy Suárez</li>
    <li>Yuleidy Villamizar</li>
</ul>
<h1>Desarrollado con tecnología moderna</h1>
<p>
{SITE_TITLE} fue desarrollado con <a href="https://astro.build/">Astro</a>, un framework para crear sitios web que son rápidos y fáciles de usar debido a su orientación al rendimiento, y es alojado por medio de Github Pages, un servicio que permite alojar sitios web directamente desde un repositorio de GitHub.
</p>
</Layout>
