---
import { SITE_TITLE } from '../consts';
---

<footer class="bg-glass">
    <div class="container">
        <p>El sitio <b>{SITE_TITLE}</b> es una actividad correspondiente a la cátedra "Electiva IV" de la UNEXCA.</p>
        <p>Hecho con <a href="https://astro.build/" target="_blank">Astro</a>. Código fuente disponible en <a href="https://github.com/newmanls/">GitHub</a>.</p>
    </div>
</footer>

<style>
    footer {
        display: block;
        text-align: center;
        border-bottom: none;
        border-left: none;
        border-right: none;
        padding: 2rem 0;
    }
</style>
