---
import { SITE_TITLE } from '../consts';
const base = import.meta.env.BASE_URL;
---

<header>
    <nav>
        <ul>
            <li><strong><a href={base}>{SITE_TITLE}</a></strong></li>
        </ul>
        <ul>
            <li><a href=`${base}`>Posts</a></li>
            <li><a href=`${base}/about`>Acerca de</a></li>
        </ul>
    </nav>
</header>

<style>
    header {
        background: white;
        border-bottom: solid 2px rgba(var(--gray), 20%);
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.1rem;
    }
    nav a {
        color: var(--black);
        text-decoration: none;
    }
    nav > ul {
        display: flex;
        justify-content: left;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    nav > ul:not(:first-child) {
        flex-grow: 1;
    }
    nav > ul:not(:last-child) {
    }
    nav > ul:last-child {
        justify-content: right;
    }
    nav > ul > li {
        display: flex;
        margin: 0 1rem;
    }
    nav > ul:first-child li:first-child {
        margin-left: 0;
    }
    nav > ul:last-child li:last-child {
        margin-right: 0;
    }
    /*@media (max-width: 720px) {*/
    /*    .social-links {*/
    /*        display: none;*/
    /*    }*/
    /*}*/
</style>
